.main_map{
    user-select: none;
    width: 1000px;
    height: 1000px;
    overflow: hidden;

    cursor: grab;
}
svg{
    overflow: hidden;
    top: 200px;
    left: 200px;
    position: relative;
}